In [19]:
import pandas as pd

In [20]:
gradebook = pd.read_csv('C:/Users/noahh/Dropbox/p3reu/data/gradebooks/F17_CS112.csv')
pytania_s = pd.read_csv('C:/Users/noahh/Dropbox/p3reu/data/pytania/F18_CS112s_results.csv', encoding = "utf-8-sig")
zybook = pd.read_csv('C:/Users/noahh/Dropbox/p3reu/data/zyBook_112/GMUCS112Fall2017.csv')

In [21]:
s_ids = pytania_s['username']
users = set(s_ids.unique())
len(users)

271

In [48]:
gradebook.head()

,Username,LEC,LAB,LETTER,RAW,HC,FF,T1,T2,T3,...,L4T,L5E,L6Q,L7E,L8Q,L9E,L10E,L11E,L12T,L13E
0,2560,3,226,B,82.7,0,1,67.0,58.5,54.5,...,56.0,100.0,60.0,100,50,100,100,100,20,100
1,2076,3,212,C+,78.9,0,0,64.5,71.0,65.5,...,100.0,100.0,35.0,100,70,100,0,80,28,0
2,1754,3,219,A,94.3,0,0,82.5,69.5,86.0,...,85.0,100.0,50.0,100,90,100,48,60,100,100
3,144,3,213,A-,90.3,0,0,82.0,78.5,75.0,...,100.0,100.0,60.0,100,50,100,100,84,56,100
4,627,3,224,A-,91.8,0,0,76.5,65.0,80.5,...,85.0,100.0,40.0,100,55,80,100,100,0,100

In [49]:
final_grades = gradebook[['Username', 'RAW']]

In [53]:
df = gradebook.set_index('Username').head()

In [52]:
gradebook.head()

,Username,LEC,LAB,LETTER,RAW,HC,FF,T1,T2,T3,...,L4T,L5E,L6Q,L7E,L8Q,L9E,L10E,L11E,L12T,L13E
0,2560,3,226,B,82.7,0,1,67.0,58.5,54.5,...,56.0,100.0,60.0,100,50,100,100,100,20,100
1,2076,3,212,C+,78.9,0,0,64.5,71.0,65.5,...,100.0,100.0,35.0,100,70,100,0,80,28,0
2,1754,3,219,A,94.3,0,0,82.5,69.5,86.0,...,85.0,100.0,50.0,100,90,100,48,60,100,100
3,144,3,213,A-,90.3,0,0,82.0,78.5,75.0,...,100.0,100.0,60.0,100,50,100,100,84,56,100
4,627,3,224,A-,91.8,0,0,76.5,65.0,80.5,...,85.0,100.0,40.0,100,55,80,100,100,0,100

In [56]:
df.sort_index()

,LEC,LAB,LETTER,RAW,HC,FF,T1,T2,T3,AVG_LABS_2drop,...,L4T,L5E,L6Q,L7E,L8Q,L9E,L10E,L11E,L12T,L13E
Username,,,,,,,,,,,,,,,,,,,,,
144,3,213,A-,90.3,0,0,82.0,78.5,75.0,98.4,...,100.0,100.0,60.0,100,50,100,100,84,56,100
627,3,224,A-,91.8,0,0,76.5,65.0,80.5,96.5,...,85.0,100.0,40.0,100,55,80,100,100,0,100
1754,3,219,A,94.3,0,0,82.5,69.5,86.0,97.5,...,85.0,100.0,50.0,100,90,100,48,60,100,100
2076,3,212,C+,78.9,0,0,64.5,71.0,65.5,88.5,...,100.0,100.0,35.0,100,70,100,0,80,28,0
2560,3,226,B,82.7,0,1,67.0,58.5,54.5,96.0,...,56.0,100.0,60.0,100,50,100,100,100,20,100